@charset "UTF-8";
button {
  position: relative;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  line-height: 1;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  border-radius: 4px;
  box-sizing: border-box;
}

/* size样式 */
.z-medium {
  padding: 8px 15px;
  font-size: 13px;
}

.z-small {
  padding: 6px 12px;
  font-size: 12px;
}

/* 禁用样式 */
.z-disabled {
  opacity: 0.5;
  cursor: no-drop;
}

.z-disabled:active {
  opacity: 0.5;
}

/* 圆角button */
.z-round {
  border-radius: 20px;
}

/* 背景样式 */
.z-default {
  color: black;
  border: 1px solid #ddd;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
}

.z-default:hover, .z-default:focus {
  color: #40a9ff;
  border-color: #40a9ff;
}

.z-primary {
  background: #409eff;
}

.z-success {
  background: #67c23a;
}

.z-warn {
  background: #e6a23c;
}

.z-danger {
  background: #f56c6c;
}

/* 点击效果 */
button:active {
  opacity: 0.8;
}
