@charset "UTF-8";
.z-select-wrapper {
  display: inline-block;
  width: 240px;
  position: relative;
}

.z-select-wrapper .z-select {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  padding-right: 15px;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  font-size: inherit;
  line-height: 40px;
  outline: none;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-appearance: none;
}

.z-select-wrapper .z-select:hover {
  border-color: grey;
}

.z-select-wrapper .z-select:focus {
  border-color: #40a9ff;
}

.z-select-wrapper .z-v {
  position: absolute;
  right: 20px;
  top: 30%;
  font-size: 16px;
  font-weight: lighter;
  font-family: '楷体';
  transition: all .5s;
}
